.app__browse-text-primary {
  font-family: var(--font-Montserrat);
}
.app__browse-text-secondary {
  font-family: var(--font-Noto);
}
.app__browse-text-tertiary {
  font-family: var(--font-Poppins);
}